[project]
	description = just to see what will happen
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dobrir
[access "refs/for/refs/*"]
	read = group user/dobrir
	push = group user/dobrir
	label-Code-Review = -2..+2 group user/dobrir
	label-Verified = -1..+1 group user/dobrir
	rebase = group user/dobrir
	removeReviewer = group user/dobrir
	submit = group user/dobrir
[access "refs/heads/*"]
	read = group user/dobrir
	create = group user/dobrir
	push = +force group user/dobrir
	pushMerge = group user/dobrir
[access "refs/tags/*"]
	push = group user/dobrir
	push = +force group user/dobrir
